div{
    background-color: #eb7d7d;
    width: 100px;
    height: 100px;
    border: 3px solid;
    display: inline-block;
    margin-bottom: 5px;
    visibility: hidden;
}

span{
    background-color: rgb(136, 136, 240);
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 3px solid;
}