#intro{
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.box{
    border: 5px solid;
    width: 250px;
    height: 250px;
    margin:auto;
}

#box1{
    background-color: bisque;
    font-size: 5em;
    margin-bottom: 5px;

}
#box2{
    background-color: blueviolet;
    font-size: 5em;
}