h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: hsl(60, 100%, 76%);
}
p::selection{
    color: green;
    background-color: darkgray;
}
#fruit li::before{
    
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✔️";
    color: green;
    font-size: 1.2em;
}