h1{
    text-shadow: 3px 3px 5px hsl(0, 100%, 50%), -3px -3px 5px hsl(182, 74%, 70%);
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(7, 7, 12);
}